body {
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 12pt;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.contacts, .contacts a {
  margin-top: 5px;
  color: #666;
}
